[Desktop Entry]
Name=File Uploader
Name[csb]=Sélôcz lopków
Name[fr]=Uploader de fichiers
Name[cs]=Nahrávání souborů
Name[pt]=Gestor de Upload
Name[fo]=Fílu uppsendari
Name[nb]=Fil-opplaster
Name[ar]=رفع الملفات
Name[ro]=încărcător de fișiere
Name[ast]=Xubidor de Ficheros
Name[gl]=Transmisor de ficheiros
Name[ja]=ファイルアップローダ
Name[he]=מעלה הקבצים
Name[sr]=Хостовање датотека
Name[pl]=Uploader plików
Name[lt]=Bylų Įkėliklis
Name[ru]=Загрузчик файлов
Name[hu]=Fájlfeltöltő
Name[fi]=Tiedoston lähettäjä
Name[de]=Datei Uploader
Name[el]=Αποστολή Αρχείων
Name[zh_CN]=文件上传工具
Name[en_GB]=File Uploader
Name[am]=ፋይል መጫኛ
Name[es]=Subidor de Archivos
Name[tr]=Dosya Yükleyici
Name[bg]=Приложение за качване на файлове
Name[ko]=파일 업로더
Name[nl]=Bestandsuploader
Name[et]=Faili üleslaadia
Name[sk]=Nahravanie súborov
Name[pt_BR]=Uploader de arquivos
Name[is]=Sending skráa (upphleðsla)
Name[sv]=Filuppladdare
Name[sq]=Ngarkuesi i Skedarëve
Name[it]=File uploader
Name[uk]=Завантажувач файлів
Name[da]=Filuploader
Comment=Upload files on the Internet
Comment[csb]=Upload files on the Internet
Comment[fr]=Upload files on the Internet
Comment[cs]=Upload files on the Internet
Comment[pt]=Upload files on the Internet
Comment[fo]=Upload files on the Internet
Comment[nb]=Upload files on the Internet
Comment[ar]=Upload files on the Internet
Comment[ro]=Upload files on the Internet
Comment[ast]=Upload files on the Internet
Comment[gl]=Upload files on the Internet
Comment[ja]=Upload files on the Internet
Comment[he]=Upload files on the Internet
Comment[sr]=Upload files on the Internet
Comment[pl]=Upload files on the Internet
Comment[lt]=Upload files on the Internet
Comment[ru]=Upload files on the Internet
Comment[hu]=Upload files on the Internet
Comment[fi]=Upload files on the Internet
Comment[de]=Upload files on the Internet
Comment[el]=Upload files on the Internet
Comment[zh_CN]=Upload files on the Internet
Comment[en_GB]=Upload files on the Internet
Comment[am]=Upload files on the Internet
Comment[es]=Upload files on the Internet
Comment[tr]=Upload files on the Internet
Comment[bg]=Upload files on the Internet
Comment[ko]=Upload files on the Internet
Comment[nl]=Upload files on the Internet
Comment[et]=Upload files on the Internet
Comment[sk]=Upload files on the Internet
Comment[pt_BR]=Upload files on the Internet
Comment[is]=Upload files on the Internet
Comment[sv]=Upload files on the Internet
Comment[sq]=Upload files on the Internet
Comment[it]=Upload files on the Internet
Comment[uk]=Upload files on the Internet
Comment[da]=Upload files on the Internet
Exec=mintupload-file-uploader
Icon=/usr/lib/linuxmint/mintUpload/icon.svg
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Utility
StartupNotify=false
