[Desktop Entry]
Name=File Uploader
Name[en_GB]=The File Uploader
Name[ko]=파일 업로더
Name[hr]=Otpremnik Datoteka
Name[ms]=Pemuat naik fail
Name[nds]=Datei-Uploader
Name[bs]=Prenosnik Datoteka
Name[he]=מעלה הקבצים
Name[oc]=Mandar de fichièrs
Name[tr]=Dosya Yükleyici
Name[fo]=Fílu uppsendari
Name[id]=Pengunggah berkas
Name[fr]=Uploader de fichiers
Name[ar]=رفع الملفات
Name[pl]=Przesyłacz plików
Name[sk]=Prenos Súborov
Name[bg]=Приложение за качване на файлове
Name[es]=Cargador de archivos
Name[fa]=فرستنده‌ی پرونده
Name[hi]=File Uploader
Name[vi]=Trình Tải lên Tập tin
Name[mk]=Поставувач на датотеки
Name[nb]=Filopplaster
Name[cs]=Nahrávání souborů
Name[mr]=फाईल अपलोड करणारा कार्यक्रम
Name[is]=Sending skráa (upphleðsla)
Name[eu]=Fitxategiak Igotzeko Tresna
Name[sl]=Pošiljalnik datotek
Name[fi]=Tiedoston lähettäjä
Name[pt]=Gestor de Upload
Name[sr]=Slanje faljova
Name[af]=lêer Oplaaier
Name[uk]=Завантажувач файлів
Name[am]=ፋይል መጫኛ
Name[et]=Failide üleslaadimine
Name[pt_PT]=Gestor de Upload
Name[ast]=Xubidor de Ficheros
Name[csb]=Sélôcz lopków
Name[ru]=Загрузчик файлов
Name[zh_TW]=檔案上傳器
Name[ja]=ファイルアップローダ
Name[ca]=Carregador de fitxers
Name[en_AU]=File Uploader
Name[bn]=File Uploader
Name[zh_CN]=文件上传工具
Name[nl]=Bestandsuploader
Name[el]=Αποστολή Αρχείων
Name[it]=File uploader
Name[sv]=Filuppladdare
Name[da]=Filuploader
Name[de]=Datei-Uploader
Name[sq]=Ngarkuesi i Skedarëve
Name[ml]=ഫയല്‍ അപ്-ലോഡര്‍
Name[nn]=Filopplastar
Name[kk]=Файл құю бағдарламасы
Name[lt]=Bylų Įkėliklis
Name[pt_BR]=Uploader de arquivos
Name[hu]=Fájlfeltöltő
Name[ro]=Încărcător de fișiere
Name[zh_HK]=檔案上載器
Name[gl]=Transmisor de ficheiros
Comment=Upload files on the Internet
Comment[en_GB]=Upload files on the Internet
Comment[ko]=파일을 인터넷에 업로드합니다
Comment[hr]=Otpremi datoteke na Internet
Comment[ms]=Muatnaik fail ke internet
Comment[nds]=Lade die Dateien ins Internet hoch
Comment[bs]=Postavi datoteke na Internet
Comment[he]=העלאת קבצים לאינטרנט
Comment[oc]=Upload files on the Internet
Comment[tr]=Dosyaları internete yükleyin
Comment[fo]=Senda upp fílur til alnetið
Comment[id]=Unggah file ke Internet
Comment[fr]=Téléversement des fichiers sur Internet
Comment[ar]=رفع ملفات الى الانترنت
Comment[pl]=Wysyłanie plików do Internetu
Comment[sk]=Prenes súbory na Internet
Comment[bg]=Прехвърляне на файлове по Интернет
Comment[es]=Subir archivos a Internet
Comment[fa]=ارسال پرونده ها بر روی اینترنت
Comment[hi]=Upload files on the Internet
Comment[vi]=Tải tập tin trên Internet
Comment[mk]=Постави датотеки на интернет
Comment[nb]=Last opp filer på Internet
Comment[cs]=Nahrát soubory na internet
Comment[mr]=फाईल्स इंटरनेट वर अपलोड कर
Comment[is]=Sendi skrár um Internetið
Comment[eu]=Internet-ra artxiboak igo
Comment[sl]=Pošiljanje datotek na internetu
Comment[fi]=Lähetä tiedostoja Internetissä
Comment[pt]=Enviar ficheiros pela Internet
Comment[sr]=Slanje fajlova na Internet
Comment[af]=Laai lêers op na die Internet
Comment[uk]=Завантаження файлів в Інтернет
Comment[am]=መጫን ፋይሎችን ኢንተርኔት ላይ
Comment[et]=Failide laadimine netti
Comment[pt_PT]=Enviar ficheiros pela Internet
Comment[ast]=Xubir ficheros a Internet
Comment[csb]=Sélôj lopk do internetu
Comment[ru]=Загрузка файлов в Интернет
Comment[zh_TW]=上傳檔案到網際網路
Comment[ja]=インターネット上でファイルをアップロードする
Comment[ca]=Penjar fitxers a l'Internet
Comment[en_AU]=Upload files on the Internet
Comment[bn]=Upload files on the Internet
Comment[zh_CN]=在互联网上上传文件
Comment[nl]=Bestanden uploaden naar het internet
Comment[el]=Ανεβάστε αρχεία στο διαδίκτυο
Comment[it]=Carica file su Internet
Comment[sv]=Ladda upp filer till Internet
Comment[da]=Upload filer til Internettet
Comment[de]=Lade die Dateien ins Internet hoch
Comment[sq]=Duke ngarkuar skedarët në Internet
Comment[ml]=ഇന്‍റര്‍നെറ്റില്‍ ഉള്ള ഫയലുകള്‍ അപ്‌ലോഡ്‌ ചെയ്യുക
Comment[nn]=Last opp filer til internett
Comment[kk]=Файлдарды интернетке құю
Comment[lt]=Kelti bylas į internetą
Comment[pt_BR]=Fazer upload de arquivos na Internet
Comment[hu]=Fájlok feltöltése az internetre
Comment[ro]=Încarcă fișiere pe Internet
Comment[zh_HK]=上載檔檔到互聯網
Comment[gl]=Subir ficheiros a Internet
Exec=mintupload-file-uploader
Icon=/usr/lib/linuxmint/mintUpload/icon.svg
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Utility
StartupNotify=false
