[Desktop Entry]
Name=File Uploader
Comment=Upload files on the Internet
Exec=mintupload-file-uploader
Icon=/usr/lib/linuxmint/mintUpload/icon.svg
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Utility
StartupNotify=false
