[Desktop Entry]
Name=Upload Manager
Name[csb]=Upload Manager
Name[fr]=Upload Manager
Name[cs]=Upload Manager
Name[pt]=Upload Manager
Name[fo]=Upload Manager
Name[nb]=Upload Manager
Name[ar]=Upload Manager
Name[ro]=Upload Manager
Name[ast]=Upload Manager
Name[gl]=Upload Manager
Name[ja]=Upload Manager
Name[he]=Upload Manager
Name[sr]=Upload Manager
Name[pl]=Upload Manager
Name[lt]=Upload Manager
Name[ru]=Upload Manager
Name[hu]=Upload Manager
Name[fi]=Upload Manager
Name[de]=Upload Manager
Name[el]=Upload Manager
Name[zh_CN]=Upload Manager
Name[en_GB]=Upload Manager
Name[am]=Upload Manager
Name[es]=Upload Manager
Name[tr]=Upload Manager
Name[bg]=Upload Manager
Name[ko]=Upload Manager
Name[nl]=Upload Manager
Name[et]=Upload Manager
Name[sk]=Upload Manager
Name[pt_BR]=Upload Manager
Name[is]=Upload Manager
Name[sv]=Upload Manager
Name[sq]=Upload Manager
Name[it]=Upload Manager
Name[uk]=Upload Manager
Name[da]=Upload Manager
Comment=Define upload services
Comment[csb]=Define upload services
Comment[fr]=Define upload services
Comment[cs]=Define upload services
Comment[pt]=Define upload services
Comment[fo]=Define upload services
Comment[nb]=Define upload services
Comment[ar]=Define upload services
Comment[ro]=Define upload services
Comment[ast]=Define upload services
Comment[gl]=Define upload services
Comment[ja]=Define upload services
Comment[he]=Define upload services
Comment[sr]=Define upload services
Comment[pl]=Define upload services
Comment[lt]=Define upload services
Comment[ru]=Define upload services
Comment[hu]=Define upload services
Comment[fi]=Define upload services
Comment[de]=Define upload services
Comment[el]=Define upload services
Comment[zh_CN]=Define upload services
Comment[en_GB]=Define upload services
Comment[am]=Define upload services
Comment[es]=Define upload services
Comment[tr]=Define upload services
Comment[bg]=Define upload services
Comment[ko]=Define upload services
Comment[nl]=Define upload services
Comment[et]=Define upload services
Comment[sk]=Define upload services
Comment[pt_BR]=Define upload services
Comment[is]=Define upload services
Comment[sv]=Define upload services
Comment[sq]=Define upload services
Comment[it]=Define upload services
Comment[uk]=Define upload services
Comment[da]=Define upload services
Exec=mintupload-manager
Icon=/usr/lib/linuxmint/mintUpload/icon.svg
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings
StartupNotify=false
