[Desktop Entry]
Name=Upload Manager
Name[en_GB]=Upload Manager
Name[ko]=업로드 관리자
Name[hr]=Menadžer Otpreme
Name[ms]=Pengurus Muatnaik
Name[nds]=Uploadmanager
Name[bs]=Menadžer za upload
Name[he]=מנהל העלאות
Name[oc]=Upload Manager
Name[tr]=Yükleme Yöneticisi
Name[fo]=Uppsendinga Leiðari
Name[id]=Manajer upload
Name[fr]=Gestionnaire de téléversement
Name[ar]=مدير رفع الملفات
Name[pl]=Menedżer Wysyłania
Name[sk]=Správca Prenosu Súborov
Name[bg]=Управление на качванията
Name[es]=Gestor de subidas
Name[fa]=مدیریت ارسال
Name[hi]=Upload Manager
Name[vi]=Trình Quản lý Tải lên
Name[mk]=Менаџер за поставување датотеки
Name[nb]=Opplastingsveiviser
Name[cs]=Správce nahrávání
Name[mr]=अपलोड प्रबंधक
Name[is]=Sendingastjóri
Name[eu]=Igotze Kudeatzailea
Name[sl]=Upravitelj poišiljanja
Name[fi]=Lähetystenhallinta
Name[pt]=Gestor de Envios
Name[sr]=Menadzer slanja
Name[af]=Oplaai Bestuurder
Name[uk]=Менеджер завантажень
Name[am]=የመጫኛ አስተዳዳሪ
Name[et]=Üleslaadimishaldur
Name[pt_PT]=Gestor de Envios
Name[ast]=Alministrador de xubíes
Name[csb]=Menadżera sélaniô
Name[ru]=Менеджер загрузок
Name[zh_TW]=上傳管理員
Name[ja]=アップロードマネージャ
Name[ca]=Gestor de càrregues
Name[en_AU]=Upload Manager
Name[bn]=Upload Manager
Name[zh_CN]=上传管理器
Name[nl]=Uploadbeheer
Name[el]=Διαχειριστής Ανεβάσματος Αρχείων
Name[it]=Upload Manager
Name[sv]=Uppladdningshanterare
Name[da]=Uploadhåndtering
Name[de]=Uploadmanager
Name[sq]=Menaxhuesi i Ngarkimeve
Name[ml]=അപ്‌ലോഡ്‌ മാനേജര്‍
Name[nn]=Opplastingsrettleiar
Name[kk]=Құю менеджері
Name[lt]=Įkėlimo tvarkyklė
Name[pt_BR]=Gerenciador de Upload
Name[hu]=Feltöltéskezelő
Name[ro]=Manager de încărcări
Name[zh_HK]=上載管理員
Name[gl]=Xestor de subidas
Comment=Define upload services
Comment[en_GB]=Define upload services
Comment[ko]=업로드 서비스 추가
Comment[hr]=Definiraj otpremne servise
Comment[ms]=Tentukan servis muatnaik
Comment[nds]=Bestimme Dienste zum Hochladen
Comment[bs]=Definiraj upload servise
Comment[he]=הגדרת שירותי העלאה
Comment[oc]=Define upload services
Comment[tr]=Yükleme hizmetlerini tanımlayın
Comment[fo]=Skilmarka uppsendinga tænastur
Comment[id]=Definisikan layanan unggah
Comment[fr]=Définissez les services de téléversement
Comment[ar]=حدد خدمات رفع الملفات
Comment[pl]=Określ usługi wysyłania
Comment[sk]=Definovať služby prenosu
Comment[bg]=Задаване на услуги на качване
Comment[es]=Definir servicio de subida
Comment[fa]=سرویسهای ارسال را مشخص کن
Comment[hi]=Define upload services
Comment[vi]=Chỉ định dịch vụ tải lên
Comment[mk]=Дефинирај сервис за поставување
Comment[nb]=Definer opplastingstjenester
Comment[cs]=Definovat nahrávací služby
Comment[mr]=Define upload services
Comment[is]=Sskilgreindu sendingaþjónustur
Comment[eu]=Igotzeko zerbizuak definitu
Comment[sl]=Določi storitev pošiljanja
Comment[fi]=Määritä lähetyspalvelut
Comment[pt]=Definir serviço de envios
Comment[sr]=Definisite servise slanja
Comment[af]=Definieer oplaai dienste
Comment[uk]=Визначити служби завантаження
Comment[am]=መግለጽ የመጫኛ አገልግሎቶች
Comment[et]=Defineeri üleslaadimisteenused
Comment[pt_PT]=Definir serviço de envios
Comment[ast]=Definir serviciu de xubida
Comment[csb]=Definiujë ùsłëżnotë sélaniô
Comment[ru]=Назначить службы загрузки
Comment[zh_TW]=定義上傳服務
Comment[ja]=アップロードサービスを定義する
Comment[ca]=Defineix serveis de càrrega
Comment[en_AU]=Define upload services
Comment[bn]=Define upload services
Comment[zh_CN]=定义上传服务
Comment[nl]=Uploadservices bepalen
Comment[el]=Καθορίστε τις υπηρεσίες ανεβάσματος
Comment[it]=Definisci i servizi di upload
Comment[sv]=Definera uppladdningstjänster
Comment[da]=Sæt uploadtjenesterne op
Comment[de]=Bestimme Dienste zum Hochladen
Comment[sq]=Përkufizo shërbimet e ngarkimit
Comment[ml]=അപ്‌ലോഡ്‌ സെര്‍വിസുകളെ നിര്‍വചിക്കുക
Comment[nn]=Definer opplastingstenester
Comment[kk]=Файл құю қызметтерін белгілеу
Comment[lt]=Nustatyti įkėlimo paslaugas
Comment[pt_BR]=Definir serviços de upload
Comment[hu]=Feltöltőszolgáltatások beállítása
Comment[ro]=Numiți serviciile de încărcare
Comment[zh_HK]=設定上載服務
Comment[gl]=Definir servizos de subida
Exec=mintupload-manager
Icon=/usr/lib/linuxmint/mintUpload/icon.svg
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings
StartupNotify=false
