[Desktop Entry]
Name=Upload Manager
Name[af]=Oplaai Bestuurder
Name[am]=የመጫኛ አስተዳዳሪ
Name[ar]=مركز رفع الملفات
Name[ast]=Alministrador de xubes
Name[be]=Кіраўнік зацягванняў
Name[bg]=Управление на качванията
Name[bn]=আপলোড ম্যানেজার
Name[bs]=Upravljanje dodavanjima
Name[ca]=Gestor de càrregues
Name[ca@valencia]=Administrador de pujades
Name[cs]=Správce nahrávání
Name[csb]=Menadżera sélaniô
Name[cy]=Rheolwr Llwytho i Fyny
Name[da]=Overførselshåndtering
Name[de]=Hochladeverwaltung
Name[el]=Διαχειριστής Αποστολής Αρχείων
Name[eo]=Alŝutmastrumilo
Name[es]=Gestor de subidas
Name[et]=Üleslaadimishaldur
Name[eu]=Karga-kudeatzailea
Name[fa]=مدیر ارسال
Name[fi]=Lähetystenhallinta
Name[fo]=Uppsendinga Leiðari
Name[fr]=Gestionnaire de téléversement
Name[fr_CA]=Administrateur d'actualizations
Name[ga]=Bainisteoir uasluchtaithe
Name[gd]=Manaidsear nan luchdaidhean suas
Name[gl]=Xestor de envíos
Name[gv]=Reireyder laadey heose
Name[he]=מנהל העלאות
Name[hi]=अपलोड प्रबंधक
Name[hr]=Upravitelj slanja datoteka
Name[hu]=Feltöltéskezelő
Name[id]=Manajer upload
Name[is]=Sendingastjóri
Name[ja]=アップロードマネージャ
Name[jv]=Penglola upload
Name[ka]=ატვირთვის მენეჯერი
Name[kk]=Құю менеджері
Name[ko]=업로드 관리자
Name[ku]=Rêvebirê Barkirinê
Name[lt]=Įkėlimo tvarkyklė
Name[lv]=Augšupielādes pārvaldnieks
Name[mk]=Менаџер за поставување датотеки
Name[ml]=അപ്‌ലോഡ്‌ മാനേജര്‍
Name[mr]=अपलोड प्रबंधक
Name[ms]=Pengurus Muatnaik
Name[nb]=Opplastingsveiviser
Name[nds]=Uploadmanager
Name[ne]=अप्लोद म्यानेजर
Name[nl]=Uploadbeheer
Name[nn]=Opplastingsrettleiar
Name[oc]=Gestionari de mandadisses
Name[pa]=ਅੱਪਲੋਡ ਮੈਨੇਜਰ
Name[pl]=Menedżer wysyłania
Name[pt]=Gestor de envios
Name[pt_BR]=Gerenciador de Envio
Name[pt_PT]=Gestor de envios
Name[ro]=Manager de încărcări
Name[ru]=Менеджер загрузчика файлов
Name[si]=ලිපිගොනු යැවීම කලමනාකරනය
Name[sk]=Správca Prenosu Súborov
Name[sl]=Upravljalnik pošiljanja
Name[so]=Agaasimaha daabulidda
Name[sq]=Menaxhuesi i Ngarkimeve
Name[sr]=Менаџер отпремања
Name[sr@latin]=Menadžer otpremanja
Name[sv]=Uppladdningshanterare
Name[ta]=பதிவேற்ற நிர்வாகி
Name[te]=ఎక్కింపు నిర్వాహకం
Name[tg]=Мудири боркунӣ
Name[th]=โปรแกรมจัดการการอัปโหลด
Name[tr]=Yükleme Yöneticisi
Name[uk]=Менеджер завантажень
Name[vi]=Trình Quản lý Tải lên
Name[zh_CN]=上传管理器
Name[zh_HK]=上傳管理員
Name[zh_TW]=上傳管理員
Comment=Define upload services
Comment[af]=Definieer oplaai dienste
Comment[am]=መግለጽ የመጫኛ አገልግሎቶች
Comment[ar]=حدد خدمات رفع الملفات
Comment[ast]=Definir serviciu de xubida
Comment[be]=Вызначыць службы зацягванняў
Comment[bg]=Задаване на сървъри
Comment[bn]=আপলোড সেবাসমূহের বর্ণনা দিন
Comment[bs]=Definiranje servisa za dodavanje
Comment[ca]=Defineix serveis de càrrega
Comment[ca@valencia]=Definix servicis de pujada
Comment[cs]=Definovat nahrávací služby
Comment[csb]=Definiujë ùsłëżnotë sélaniô
Comment[cy]=Dififnio gwasanaethau llwytho
Comment[da]=Sæt overførselstjenester op
Comment[de]=Bestimme Dienste zum Hochladen
Comment[el]=Καθορίστε τις υπηρεσίες αποστολής
Comment[eo]=Difini alŝutservojn
Comment[es]=Definir servicio de subida
Comment[et]=Määra üleslaadimisteenused
Comment[eu]=Zehaztu karga-zerbitzuak
Comment[fa]=سرویسهای ارسال را مشخص کن
Comment[fi]=Määritä lähetyspalvelut
Comment[fil]=I-define ang serbisyo sa pag-upload
Comment[fo]=Skilmarka uppsendinga tænastur
Comment[fr]=Définissez les services d'envoi de fichiers
Comment[fr_CA]=Définissez les services d'envoi de fichiers
Comment[ga]=Sainmhínígh seirbhísí uasluchtaithe
Comment[gd]=Sònraich seirbheisean luchdaidh suas
Comment[gl]=Definir servizos de envío
Comment[gv]=Reih yn shirveeish laadey heose
Comment[he]=הגדרת שירותי העלאה
Comment[hr]=Odredite uslugu slanja
Comment[hu]=Feltöltőszolgáltatások megadása
Comment[id]=Definisikan layanan unggah
Comment[is]=Skilgreindu sendingaþjónustur
Comment[it]=Definisci i servizi di upload
Comment[ja]=アップロードサービスを定義します
Comment[jv]=Definisi nglayani ngunggahake
Comment[kk]=Файл құю қызметтерін белгілеу
Comment[ko]=업로드 서비스 추가
Comment[lt]=Nustatyti įkėlimo paslaugas
Comment[mk]=Дефинирај сервис за поставување
Comment[ml]=അപ്‌ലോഡ്‌ സെര്‍വിസുകളെ നിര്‍വചിക്കുക
Comment[mr]=उपलोड सेवा निर्धारित करा
Comment[ms]=Tentukan servis muatnaik
Comment[nb]=Definer opplastingstjenester
Comment[nds]=Bestimme Dienste zum Hochladen
Comment[ne]=अप्लोअद सेरिभाइसहरु निर्धारण गर्नुहोस्।
Comment[nl]=Uploaddiensten benoemen
Comment[nn]=Definer opplastingstenester
Comment[oc]=Definissètz los servicis de mandadís de fichièrs
Comment[pl]=Określ usługi wysyłania
Comment[pt]=Defina o serviço de envios
Comment[pt_BR]=Definir serviços de envio
Comment[pt_PT]=Defina o serviço de envios
Comment[ro]=Numiți serviciile de încărcare
Comment[ru]=Назначить службы загрузки
Comment[si]=ඉහලට යැවීමේ සේවා අතුලත් කරන්න
Comment[sk]=Definovať služby prenosu
Comment[sl]=Določi storitve pošiljanja
Comment[so]=Qeex khidmadaha daabulidda
Comment[sq]=Përkufizo shërbimet e ngarkimit
Comment[sr]=Одредите сервисе за отпремање
Comment[sr@latin]=Odredite servise za otpremanje
Comment[sv]=Definera uppladdningstjänster
Comment[ta]=பதிவேற்ற சேவைகளை வரையறுக்க
Comment[te]=ఎక్కింపు సేవలను నిర్వచించు
Comment[tg]=Интихоби хидмати боркунӣ
Comment[th]=กำหนดบริการอัปโหลด
Comment[tl]=I-define ang serbisyo sa pag-upload
Comment[tr]=Yükleme hizmetlerini tanımlayın
Comment[uk]=Визначити служби завантаження
Comment[vi]=Chỉ định dịch vụ tải lên
Comment[zh_CN]=定义上传服务
Comment[zh_HK]=定義上傳服務
Comment[zh_TW]=定義上傳服務
GenericName=Define upload services
GenericName[af]=Definieer oplaai dienste
GenericName[am]=መግለጽ የመጫኛ አገልግሎቶች
GenericName[ar]=حدد خدمات رفع الملفات
GenericName[ast]=Definir serviciu de xubida
GenericName[be]=Вызначыць службы зацягванняў
GenericName[bg]=Задаване на сървъри
GenericName[bn]=আপলোড সেবাসমূহের বর্ণনা দিন
GenericName[bs]=Definiranje servisa za dodavanje
GenericName[ca]=Defineix serveis de càrrega
GenericName[ca@valencia]=Definix servicis de pujada
GenericName[cs]=Definovat nahrávací služby
GenericName[csb]=Definiujë ùsłëżnotë sélaniô
GenericName[cy]=Dififnio gwasanaethau llwytho
GenericName[da]=Sæt overførselstjenester op
GenericName[de]=Bestimme Dienste zum Hochladen
GenericName[el]=Καθορίστε τις υπηρεσίες αποστολής
GenericName[eo]=Difini alŝutservojn
GenericName[es]=Definir servicio de subida
GenericName[et]=Määra üleslaadimisteenused
GenericName[eu]=Zehaztu karga-zerbitzuak
GenericName[fa]=سرویسهای ارسال را مشخص کن
GenericName[fi]=Määritä lähetyspalvelut
GenericName[fil]=I-define ang serbisyo sa pag-upload
GenericName[fo]=Skilmarka uppsendinga tænastur
GenericName[fr]=Définissez les services d'envoi de fichiers
GenericName[fr_CA]=Définissez les services d'envoi de fichiers
GenericName[ga]=Sainmhínígh seirbhísí uasluchtaithe
GenericName[gd]=Sònraich seirbheisean luchdaidh suas
GenericName[gl]=Definir servizos de envío
GenericName[gv]=Reih yn shirveeish laadey heose
GenericName[he]=הגדרת שירותי העלאה
GenericName[hr]=Odredite uslugu slanja
GenericName[hu]=Feltöltőszolgáltatások megadása
GenericName[id]=Definisikan layanan unggah
GenericName[is]=Skilgreindu sendingaþjónustur
GenericName[it]=Definisci i servizi di upload
GenericName[ja]=アップロードサービスを定義します
GenericName[jv]=Definisi nglayani ngunggahake
GenericName[kk]=Файл құю қызметтерін белгілеу
GenericName[ko]=업로드 서비스 추가
GenericName[lt]=Nustatyti įkėlimo paslaugas
GenericName[mk]=Дефинирај сервис за поставување
GenericName[ml]=അപ്‌ലോഡ്‌ സെര്‍വിസുകളെ നിര്‍വചിക്കുക
GenericName[mr]=उपलोड सेवा निर्धारित करा
GenericName[ms]=Tentukan servis muatnaik
GenericName[nb]=Definer opplastingstjenester
GenericName[nds]=Bestimme Dienste zum Hochladen
GenericName[ne]=अप्लोअद सेरिभाइसहरु निर्धारण गर्नुहोस्।
GenericName[nl]=Uploaddiensten benoemen
GenericName[nn]=Definer opplastingstenester
GenericName[oc]=Definissètz los servicis de mandadís de fichièrs
GenericName[pl]=Określ usługi wysyłania
GenericName[pt]=Defina o serviço de envios
GenericName[pt_BR]=Definir serviços de envio
GenericName[pt_PT]=Defina o serviço de envios
GenericName[ro]=Numiți serviciile de încărcare
GenericName[ru]=Назначить службы загрузки
GenericName[si]=ඉහලට යැවීමේ සේවා අතුලත් කරන්න
GenericName[sk]=Definovať služby prenosu
GenericName[sl]=Določi storitve pošiljanja
GenericName[so]=Qeex khidmadaha daabulidda
GenericName[sq]=Përkufizo shërbimet e ngarkimit
GenericName[sr]=Одредите сервисе за отпремање
GenericName[sr@latin]=Odredite servise za otpremanje
GenericName[sv]=Definera uppladdningstjänster
GenericName[ta]=பதிவேற்ற சேவைகளை வரையறுக்க
GenericName[te]=ఎక్కింపు సేవలను నిర్వచించు
GenericName[tg]=Интихоби хидмати боркунӣ
GenericName[th]=กำหนดบริการอัปโหลด
GenericName[tl]=I-define ang serbisyo sa pag-upload
GenericName[tr]=Yükleme hizmetlerini tanımlayın
GenericName[uk]=Визначити служби завантаження
GenericName[vi]=Chỉ định dịch vụ tải lên
GenericName[zh_CN]=定义上传服务
GenericName[zh_HK]=定義上傳服務
GenericName[zh_TW]=定義上傳服務
Exec=mintupload-manager
Icon=/usr/lib/linuxmint/mintUpload/icon.svg
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Qt;KDE;Settings;
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
