Source: mintupload
Section: admin
Priority: optional
Maintainer: Linux Mint <root@linuxmint.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: mintupload
Architecture: all
Depends: python3,
         python3-paramiko (>= 1.7.4),
         python3-gi,
         python3-pexpect,
         python3-configobj,
         libnotify-bin,
         gir1.2-glib-2.0,
         gir1.2-gtk-3.0,
         gir1.2-notify-0.7,
         gir1.2-xapp-1.0
         ${misc:Depends}
Description: Uploads files on the Internet
 mintUpload allow you to upload files on the Internet.
 This makes it easier to share or send big files which
 would not fit in an email.
