[Desktop Entry]
Encoding=UTF-8
Name=mintUpload
Comment=Linux Mint Upload Manager
Icon=mintupload
Exec=/usr/lib/linuxmint/mintupload/launch-file-uploader.py
Terminal=false
Type=Application
Categories=
