[Desktop Entry]
Encoding=UTF-8
Name=mintUpload
Comment=Linux Mint Upload Manager
Icon=/usr/lib/linuxmint/mintUpload/icon.svg
Exec=/usr/lib/linuxmint/mintUpload/launch-file-uploader.py
Terminal=false
Type=Application
Categories=
